<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    @Html.Kentico().PageDescription()
    @Html.Kentico().PageKeywords()
    @Html.Kentico().PageTitle(ViewBag.Title as string)
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-controller="SafetyDiscussion" asp-action="Index">@HtmlLocalizer["Manage discussions"]</a>
            <form method="post" asp-controller="Account" asp-action="Logout">
                <input type="submit" value="@HtmlLocalizer["Sign out"]" class="sign-out-button" />
            </form>
        }
        else
        {
            <a asp-controller="Account" asp-action="Login">@HtmlLocalizer["Login"]</a>
        }
    </div>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
