@model SafetyInc.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<div>
    <h4>HomeIndexViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BannerHeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BannerHeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BannerSubtext)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BannerSubtext)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BannerImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BannerImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoginHeader)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoginHeader)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoginBody)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoginBody)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LoginButtonText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LoginButtonText)
        </dd>
    </dl>
</div>