@model IEnumerable<SafetyInc.Models.SafetyDiscussionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ObserverFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColleagueNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ObserverFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColleagueNames)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SafetyDiscussionID }) |
                @Html.ActionLink("Details", "Details", new { id = item.SafetyDiscussionID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.SafetyDiscussionID })
            </td>
        </tr>
}
    </tbody>
</table>
